body{
    background-image: url("gameImages/background.png");
    background-attachment: fixed;
    margin:0;
}

* {
    font-family:sans-serif;
}

body > div{
    padding:2.5em;
    background-color: rgb(255, 255, 255, 0.6);
}

body > div > *{
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 > img{
    height:5em;
}

div > h1{
    font-size:larger;
}

body > h1:first-child, body > div > h1:first-child{
    font-size:xx-large;
    color:black;
    animation-name: getBigger;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes getBigger{
    0% {transform:scale(5em);}
    1% {transform:scale(0.1);}
    25% {transform:scale(0.25);}
    50% {transform:scale(0.5);}
    75% {transform:scale(0.75);}
    100% {transform:scale(1); transform-origin: 0 0;}
}

a:link, a:visited{
    text-decoration:none;
    color: darkgreen;
}

a:hover{
    background-color:rgba(128, 128, 128, 0.511);
    border-radius:0.5em;
}

table, tr, td{
    border: 0.5px black solid;
    border-collapse: collapse;
}

td > ul > li{
    list-style-image: url("gameImages/potion.png");
    list-style-position:outside;
}

tr + td{
    height:2rem;
}

img{
    height:17rem;
}

th, td{
    text-align: center;
}

div.new{
    line-break:normal;
    text-align:center;
    border-radius:15px;
    width:5em;
    animation-name: newest;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes newest{
    0% {color:white; background-color:red;}
    50% { color:red; background-color: white;}
    100% {color:white; background-color:red;}
}

footer{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255, 0.6), rgb(117, 117, 117), rgb(62, 62, 62), black);
    padding: 3em;
}

footer > p{
    margin:0;
    padding-bottom:3em;
}

footer > img{
    float:right;
    height:5em;
}

div > img{
    border-radius:2em;
    box-shadow: 10px 10px 5px rgb(66, 66, 66);
    margin-bottom: 2em;
}